# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.vscode/

# Virtual environment
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Unit test / coverage reports
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# AWS
*.pem
